body {
  font: 14px "Century Gothic", Futura, sans-serif;
  box-sizing: border-box;
}

.container{
  position: relative;
 }
 
.form-body{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 540px !important;
  transform: translate(-50%,-50%);
}

.num-grp {
  display: flex;
}

.btn-item {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.btn-item button {
  width: 80px;
}

.bg-out {
  background-color: #2D2D31;
}

.bd-body {
  background-color: #242427;
}
